.useful__links_categories {
  position: absolute;
  bottom: 100%;
  left: 0;
  display: flex;
  background-color: $brand-secondary;
  height: auto;
  z-index: -1;
  @include list_reset;
  .category__item {
    border-radius: 8px 8px 0 0;
    padding: 16px 24px;
    margin: 0 8px 0 0;
    overflow: hidden;
    color: $grey-dark;
    background-color: $brand-quinary;
    cursor: pointer;
    &.active {
      color: $brand-quaternary;
      background-color: $brand-tertiary;
    }
  }
}
.useful__links {
  position: relative;
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include list_reset;
    li {
      width: auto;
      padding: 28px 24px;
      margin-bottom: 12px;
      background-color: $brand-secondary;
      display: flex;
      justify-content: space-between;
      position: relative;
      a {
        color: $brand-quaternary;
        text-decoration: none;
      }
      .name,
      .url {
        color: $white;
        &:hover {
          color: $grey-base;
          @include trans;
        }
      }
      .links__meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        a,
        p {
          margin: 0 0 0 24px;
        }
        .flame {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          cursor: pointer;
          @include no_select;
          @include trans;
          &.flammed,
          &:hover {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
          }
          &:hover {
            transition: all 0.2s ease;
          }
          &.flammed {
            pointer-events: none;
            @include trans;
          }
        }
        .info {
          cursor: pointer;
        }
      }
      .desc {
        position: absolute;
        padding: 0 24px;
        width: 100%;
        top: 100%;
        left: 0;
        max-height: 0px;
        background-color: $brand-secondary;
        border-width: 0 2px 5px 2px;
        border-color: $brand-tertiary;
        border-style: solid;
        z-index: 10;
        overflow: hidden;
        font-size: rem(14px);
        color: $grey-light;
        @include trans;
        &.open {
          max-height: 240px;
          padding: 28px 24px;
          overflow: auto;
          @include trans;
        }
      }
    }
  }
}
