.item__container {
  max-width: 1024px;
  margin: 96px auto 64px;
  background-color: $brand-tertiary;
  padding: 48px;
  position: relative;
  z-index: 10;
  &.page__useful_links {
    margin: 124px auto 0;
  }
}
