header {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-color: $brand-primary;
  border-style: solid;
  border-width: 1px 0;
  position: relative;
  .logo__wrapper {
    width: 100%;
    margin: 0;
    .logo {
      border-color: $brand-primary;
      border-style: solid;
      border-width: 0 1px;
      width: auto;
      max-width: 318px;
      margin: 0 auto;
      padding: 12px 0;
      display: flex;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      @include media-breakpoint-up(md) {
        padding: 36px 0;
      }
      @include media-breakpoint-up(lg) {
        padding: 48px 0;
      }
      img {
        max-width: 100%;

        height: 100%;
        padding: 0 24px;
        margin: 0 auto;
      }
    }
  }
  .current__page {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    h3 {
      font-size: rem(24px);
      color: $brand-quaternary;
      text-align: center;
      margin: 0;
      padding: 8px 64px;
      border-color: $brand-primary;
      border-style: solid;
      border-width: 0 1px 1px 1px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      opacity: 1;
      z-index: 500;
      @include trans;
      @include no_select;
      &:hover {
        color: transparent;
        @include trans;
        span {
          color: $brand-quaternary;
          top: 2px;
          @include trans;
        }
      }
      span {
        width: calc(100% - 4px);
        top: 42px;
        left: 2px;
        position: absolute;
        border-color: transparent;
        // background-color: $brand-secondary;
        padding: 6px 64px;
        color: transparent;
        @include trans;
        @include no_select;
      }
    }
  }
}
nav {
  position: absolute;
  height: 0;
  width: 100%;
  min-height: 0;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: $brand-secondary;
  z-index: -1;
  &.open {
    min-height: 80vh;
    height: auto;
    max-height: 100%;
    overflow: auto;
    transition: all 0.3s ease;
    z-index: 100;
  }
  .nav__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
    width: 100%;
    max-width: map-get($breakpoints, xxl);
    margin: 0 auto;
    @include list_reset;
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(3, 1fr);
    }
    .nav__item {
      cursor: pointer;
      padding: 48px 0 36px;
      margin: 48px 0;
      @include media-breakpoint-up(md) {
        margin: 64px 0;
      }
      @include media-breakpoint-up(xl) {
        padding: 36px 0;
      }
      @include media-breakpoint-up(xl) {
        margin: 108px 0;
      }
      &:hover {
        h2 {
          &:before {
            width: 60%;
            transition: all 0.1s ease;
          }
        }
        h4 {
          opacity: 0.5;
          transition: all 0.2s ease;
        }
      }
      h2 {
        font-size: rem(96px);
        text-align: center;
        position: relative;
        width: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
          content: '';
          position: absolute;
          background-color: $brand-primary;
          height: 8px;
          width: 0%;
          top: 40%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: -1;
          transition: all 0.2s ease;
        }
      }
      h4 {
        color: $brand-primary;
        opacity: 0.1;
        text-align: center;
        text-transform: uppercase;
        font-size: rem(24px);
        margin: 16px auto 0;
        transition: all 0.2s ease;
      }
    }
  }
}
