@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
@keyframes to_color {
  0% {
    color: $white;
  }
  50% {
    color: $brand-primary;
  }
  100% {
    color: $white;
  }
}
.input_field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  padding: 0 0 8px;
  text-transform: uppercase;
  position: relative;
  &.marginTopSm {
    margin-top: 0;
    @include media-breakpoint-up(md) {
      margin-top: 8px;
    }
  }
  &.marginTopMd {
    margin-top: 0;
    @include media-breakpoint-up(md) {
      margin-top: 16px;
    }
  }
  &.marginTopLg {
    margin-top: 0;
    @include media-breakpoint-up(md) {
      margin-top: 24px;
    }
  }
  .btn-settings {
    position: absolute;
    top: 4px;
    right: 0;
    padding: 0;
    border-radius: 8px 8px 0 0;
    font-size: rem(10px);
    background-color: $brand-secondary;
    border: 1px solid $brand-primary;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .clipboard__btn {
      position: relative;
      padding: 4px 16px;
      width: 100%;
      background: none;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      margin: 0;
      font-weight: $fw-medium;
      font-size: rem(12px);
      overflow: hidden;
      &:after {
        content: '';
        position: absolute;
        background-color: $white_rgba_01;
        border-radius: 100px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);
      }
      &:focus {
        animation: to_color 0.5s linear;
        &:after {
          animation: ripple 0.5s linear;
        }
      }
    }
  }
  .input_field_container {
    width: 100%;
    z-index: 10;
    pointer-events: none;
    label {
      text-align: left;
      font-size: rem(18px);
    }
    .input__wrapper {
      position: relative;
      .append__value {
        position: absolute;
        right: 1px;
        top: 2px;
        text-align: center;
        height: 100%;
        margin: -2px 0 -8px;
        width: auto;
        min-height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          margin: 0;
          color: $grey-dark;
          font-size: rem(12px);
          padding: 0 16px;
        }
      }
    }
  }
}
input {
  height: 48px;
  background-color: $brand-secondary;
  color: $white;
  border: 1px solid $brand-primary;
  padding: 0 24px;
  display: flex;
  margin: 4px 0 0;
  width: 100%;
  font-size: rem(14px);
  font-weight: $fw-bold;
  z-index: 10;
  pointer-events: auto;
  &::placeholder {
    opacity: 0.2;
  }
}
textarea,
.svg__preview {
  height: 124px;
  max-width: 100%;
  width: 100%;
  background-color: $brand-secondary;
  color: $grey-base;
  border: 1px solid $brand-primary;
  padding: 8px 12px;
  display: flex;
  margin: 4px 0 0;
  font-size: rem(14px);
  font-weight: $fw-bold;
  z-index: 10;
  pointer-events: auto;
  font-family: $font-family-base;
}
.svg__preview {
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $grey-base;
  svg {
    width: 100%;
    height: 100%;
    max-width: 50%;
    max-height: 50%;
  }
}
