.input_field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  margin: 0 0 16px;
  text-transform: uppercase;
  position: relative;
  .btn-settings {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0;
    border-radius: 8px 8px 0 0;
    font-size: rem(10px);
    background-color: $brand-secondary;
    border: 1px solid $brand-primary;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .clipboard__btn {
      position: relative;
      padding: 4px 16px;
      width: 100%;
      background: none;
      color: white;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease;
      font-weight: $fw-medium;
      &:focus {
        color: $brand-primary;
        transition: all 0.5s ease;
        padding: 3px 16px 5px;
      }
    }
  }
  .input_field_container {
    width: 100%;
    z-index: 10;
    pointer-events: none;
    label {
      text-align: left;
      font-size: rem(18px);
    }
  }
}
input {
  height: 48px;
  background-color: $brand-secondary;
  color: $white;
  border: 1px solid $brand-primary;
  padding: 0 24px;
  display: flex;
  margin-top: 8px;
  width: 100%;
  font-size: rem(14px);
  font-weight: $fw-bold;
  z-index: 10;
  pointer-events: auto;
}
textarea,
.svg__preview {
  height: 124px;
  max-width: 100%;
  width: 100%;
  background-color: $brand-secondary;
  color: $grey-base;
  border: 1px solid $brand-primary;
  padding: 8px 12px;
  display: flex;
  margin-top: 8px;
  font-size: rem(14px);
  font-weight: $fw-bold;
  z-index: 10;
  pointer-events: auto;
  font-family: $font-family-base;
}
.svg__preview {
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 100%;
    height: 100%;
    max-width: 50%;
    max-height: 50%;
  }
}
