// --- Colors --- //

// Brand colours //

$brand-primary: #fa2941; // Main Brand Red
$brand-secondary: #101017; // Darkest Blue
$brand-tertiary: #191a1f; // Accent Dark Grey
$brand-quaternary: #eeeeee; // Off White

// Shades of Grey //
$white: #ffffff;
$black: #000000;

$grey-lighter: #eeeded;
$grey-light: #b1b3b5;
$grey-base: #8a8a8a;
$grey-dark: #676b6f;
$grey-darker: #262626;
