.grid {
  display: grid;
  grid-gap: 16px;
}
.grid-1,
.grid-2,
.grid-3 {
  grid-template-columns: 1fr;
}
.grid-2,
.grid-3 {
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.grid-3 {
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}
